body {
    background-color:cadetblue

}
h1{
    font-family: 'Times New Roman', Times, serif;
    color:firebrick
}
.myclass
{
    font-family:Centaur;
    color:blueviolet
}
p
{
    color:crimson
}
